.swipePanel{
    .tabArea{
        padding-inline-start: 0px;
        margin: 0px;
        padding: 0px;
        
        .tabItem{
            user-select: none;
            font-size: 12px;
            color: black;
            display: inline-block;
            list-style:none;
            padding: 2px 3px 2px 3px;
            margin: 0px 3px 0px 3px;
            border: 1px solid #B0B0B0;
            background-color:#E6E6E6;
            cursor: pointer;
        }
        .tabItemSelected{
            background-color:ghostwhite;
            border-bottom: 1px solid ghostwhite;
            position: relative;
            z-index: 2;
        }
        

    }
    .tabDivArea{
        width: 100%;
        height: 1px;
        background-color: #C6C6C6;
        position: relative;
        top: -1px;
        z-index: 1;
        user-select: none;
    }
    .activeItemArea{
        display: none;
        width: 100%;
        position: relative;
    }
}