.container {
    height: 100%;
    display: flex;
    position: relative;

    .rightNav {
        background-color: rgb(245,245,245);
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}