.pointManager {
    
    p {
        margin: 0;
        padding-bottom: 3px;
        font-size: 13px;
        line-height: 13px;
        display: flex;
        gap: 3px;
        align-items: center;
        justify-content: left;
        flex-direction: row;
    }

    .rangeBtn {
        vertical-align: top;
        background-color: #5477BD;
        color: white;
        border: transparent;
        margin: 0px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 2px;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            background-color: #4467AD;
        }

        &:active {
            background-color: #34579F;
        }
    }

    .pointSearch {
        display: flex;
        padding-top: 4px;
        gap: 5px;
        padding-left: 5px;
    }

    .pointBtns {
        margin-top: 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}