.innerAddPoint {
    padding: 0 6px;
    padding-right: 2px;
    font-size: 12px;
    text-align: center;
    p{
        margin: 7px 0px;
        text-align: left;
    }
    span {
        margin-right: 5px;
    }

    input {
        height: 12px;
    }
}