.canvas {
    outline:none;
    display: inline-block;
    width: 830px;
    height: 100%;
    vertical-align: top;
    position: relative;
    background-color: #A0A0A0;
    overflow: hidden;
    position: relative;

    .Glass {
        position: absolute;
        border: 1px solid gray;
        display: inline-block;
        font-size: 0px;
        .pickCanvasSmallLine {
            text-align: center;
            vertical-align: middle;
            background-color: grey;
            margin: 0;
            padding: 0;
            padding-top: 6px;
            padding-bottom: 6px;
            .lineItem {
                margin: 0 2px 0 2px;
                font-size: 12px;
                color: black;
                font-size: 12px;
            }

            .lineItemRight {
                display: inline;
                width: 10px;
                height: 10px;
                border: 1px solid black;
                background-color: red;
                float: right;
                position: relative;
                top: 1px;
                right: 4px;
            }
        }
    }
}