.leftBar {
    display: inline-block;
    width: 58px;
    height: calc(100% - 6px);
    text-align: center;
    background-color: #E6E6E6;
    padding-top: 2px;
    margin: 0px;

    .navItem {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: calc(100%);
        vertical-align: middle;
        color: #5477BD;
        height: 45px;
        padding-top: 7px;
        padding-bottom: 7px;

        &:hover {
            background-color: #C6C6C6;
            cursor: pointer;
        }

        &:active {
            background-color: #5477BD;
            color: ghostwhite;
        }

        .iconfont {
            font-size: 30px;
        }

        .navTitle {
            font-size: 12px;
        }
    }

}