.selectInfo {
    margin-top: 5px;

    .selectItem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        padding-bottom: 5px;
    }

    .copySep {
        width: 2px;
        display: inline-block;
        height: 4px;
    }

    .rangeBtn {
        font-size: 12px;
        vertical-align: top;
        background-color: #5477BD;
        color: white;
        border: transparent;
        margin: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background-color: #4467AD;
        }

        &:active {
            background-color: #34579F;
        }
    }

    .rangeInfo {
        font-size: 12px;
        color: black;
    }

    .rangeInput {
        display: inline-block;
        width: 20px;
        font-size: 12px;
        height: 11px;
        margin: 0px;
        vertical-align: top;
    }

    .colorDescInput {
        display: inline-block;
        width: 186px;
        font-size: 12px;
        height: 12px;
        margin: 0px;
        vertical-align: top;
    }
}