@font-face {
  font-family: "iconfont"; /* Project id 3709514 */
  src: url('iconfont.woff2?t=1665933379380') format('woff2'),
       url('iconfont.woff?t=1665933379380') format('woff'),
       url('iconfont.ttf?t=1665933379380') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e8c8";
}

.icon-daijiazai:before {
  content: "\e611";
}

.icon-xiangji:before {
  content: "\e8c7";
}

